.productInfoWrapper {
  width: 912px;
  margin: 0 auto 0 auto;
  padding: 20px 24px;
  border: 1px solid #ebebeb;
  border-top: none;
  box-sizing: border-box;
}

.tab_area {
  position: sticky;
  top: 0;
  display: flex;
  margin: 0 auto;
  background-color: #f3f5f7;
  color: #333;
  font-size: 13px;
  margin: 30px 0 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #3d3d4f;
  z-index: 2;
}

.info_tab_base {
}

.info_tab {
  display: block;
  height: 43px;
  width: 33%;
  text-align: center;
  line-height: 43px;
}

.info_tab_focus {
  display: block;
  height: 43px;
  background-color: #3d3d4f;
  color: #fff;
  width: 33%;
  text-align: center;
  line-height: 43px;
}

.last_tab {
  border: 0;
  padding: 0;
}

.productInfoWrapper .productInfoContents {
  margin-bottom: 50px;
}

.productInfoWrapper .productInfoContents:last-of-type {
  margin-bottom: 0;
}

.tabLink {
  height: 60px;
}

.infoWrapper {
  margin-bottom: 40px;
}

.infoWrapper:last-of-type {
  margin-bottom: 0;
}

.productInfoWrapper .displayGrid {
  grid-template-columns: 50% 50%;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.productInfoWrapper .displayGrid > div {
  border-bottom: 1px solid #ededed;
  display: flex;
  font-size: 12px;
  color: #5f5f5f;
}

.productInfoWrapper .displayGrid > div:last-of-type {
  border-bottom: none;
}

.productInfoWrapper .displayGrid > div > div {
  padding: 7px 20px;
  box-sizing: border-box;
}

.productInfoWrapper .displayGrid > div > div:nth-child(1) {
  width: 50%;
  color: #313131;
  background-color: #fafafa;
}

.productInfoWrapper .displayGrid > div > div:nth-child(2) {
  width: 50%;
}

.productInfoWrapper .oneColumnGrid {
  grid-template-columns: 100%;
}

.productInfoWrapper .oneColumnGrid > div > div:nth-child(1) {
  width: 25%;
}

.productInfoWrapper .oneColumnGrid > div > div:nth-child(2) {
  width: 75%;
}

.productInfoWrapper .tradeInfo > div {
  width: 50% !important;
}

.info_title {
  font-size: 12px;
  margin: 0 0 11px;
  letter-spacing: -1px;
  line-height: 14px;
  font-weight: bold;
  color: #313131;
}

.reportInfo {
  color: #5f5f5f;
  font-size: 12px;
  margin: 10px 0;
}

.reportInfo a {
  text-decoration: underline;
}

.test_interval {
  margin: 20px 0;
  border-bottom: 1px solid #000;
}

.goods_tag {
  margin: 21px 0 19px;
}

.goods_tag h3 {
  margin-bottom: 18px;
  color: #313131;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 12px;
  font-size: 12px;
  margin: 0 0 10px;
  padding: 0;
}

.goods_tag ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods_tag li {
  display: inline-block;
  margin: 0 4px 12px 0;
  line-height: 13px;
}

.goods_tag a {
  color: #2eb1d3;
  display: inline;
  padding: 2px 1px 0 4px;
  background-color: #f4f4f4;
  font-size: 13px;
}

.qna {
  position: relative;
  font-size: 12px;
}

.qna_title_text h3 {
  position: relative;
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 25px;
  color: #000;
}

.qna_title_text p {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 20px;
  color: #5f5f5f;
}

.qna_title_text a {
  color: #000;
  text-decoration: underline;
}

.qna_header {
  min-height: 32px;
  margin-top: 20px;
}

.qna_btn_area {
  float: left;
  font-size: 12px;
}

.qna_btn {
  float: left;
  padding: 0 15px;
  height: 34px;
  line-height: 34px;
  margin-right: 6px;
  background-color: #999;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  vertical-align: top;
}

.qna_write {
  background-color: #333;
}

.qna_arrow {
  padding-right: 12px;
}

.qna_arrow::after {
  clear: both;
  display: block;
  content: "";
}

.qna_sort_area {
  float: right;
  padding: 5px 0;
  box-sizing: border-box;
  width: 30%;
}

.area_switch {
  float: left;
}

.qna_checkbox {
}

.qna_label {
}

.qna_label span {
  color: #313131;
  cursor: pointer;
  padding-right: 11px;
  font-size: 14px;
}

.select_sort {
  float: right;
}

.select_sort select {
  padding-bottom: 4px;
}

.qna_list {
  margin-top: 14px;
  border-top: 2px solid #000;
}

.qna_table {
  display: table;
  width: 100%;
}

.qna_state {
  width: 92px;
  padding-right: 23px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.list_header_text {
  letter-spacing: -1.2px;
  font-weight: 600;
  line-height: 1.5em;
  color: #5f5f5f;
}

.qna_title {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.qna_author {
  width: 88px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.qna_date {
  width: 99px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.qna_list_area ul {
  border: solid #dadada;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  color: #5f5f5f;
  font-weight: 400;
}

.qna_list_area li {
  text-align: left;
  border-top: 0;
}

.qna_list_area .qna_table .qna_title {
  text-align: left;
}

.list_item_text {
  color: #5f5f5f;
  font-weight: 400;
}

.list_paging {
  height: 35px;
  margin-top: 20px;
  padding-bottom: 1px;
  text-align: center;
}

.list_paging strong {
  color: #2eb1d3;
  border-color: #999ba4;
  background: #fff;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 35px;
  margin: -1px -6px -1px -1px;
  padding: 0 13px;
  border: 1px solid transparent;
  line-height: 32px;
  vertical-align: top;
  text-decoration: none;
  font-weight: bold;
  font-family: verdana, sans-serif;
}

#id_return_exchange {
  height: 70px;
}

.exchange_title {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 2px solid #000;
}

.exchange_title h3 {
  position: relative;
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 25px;
  color: #000;
}

.exchange_guide {
  font-size: 12px;
}

.guide_title {
  margin: 0 0 8px;
  letter-spacing: -1px;
  line-height: 14px;
  font-weight: bold;
}

.guide_title p {
  margin: 4px 0 0;
  padding: 0;
  color: #8f8f8f;
  line-height: 15px;
  font-weight: normal;
  font-size: 11px;
}

.guide_text {
  padding: 0 0 13px;
}

.guide_text ol {
  list-style: none;
  margin: 0;
  padding: 0 0 6px;
}

.guide_text li {
  position: relative;
  height: 100%;
  padding-left: 14px;
  line-height: 21px;
}

.guide_text_num {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 19px;
  font-weight: bold;
  font-family: tahoma;
  color: #313131;
}

.guide_text em {
  color: #8f8f8f;
  letter-spacing: -1px;
  line-height: normal;
  font-size: 11px;
  font-style: normal;
}

.seller_info {
  position: relative;
  margin-bottom: 24px;
  padding: 24px 0 0;
  font-size: 12px;
}

.seller {
  position: relative;
  padding: 22px 0 23px;
  text-indent: -1px;
}

.seller_name {
  line-height: 15px;
  color: #5f5f5f;
}

.seller_name_blank {
  margin-bottom: 20px;
  display: block;
  border: 2px solid #000;
  width: 20px;
}

.seller_name strong {
  color: #313131;
}

.seller_name_bar {
  color: #f2f2f2;
  margin: 0 10px;
  line-height: 15px;
}

.seller_name em {
  color: #8f8f8f;
  letter-spacing: -1px;
  line-height: normal;
  font-size: 11px;
  font-style: normal;
}

.seller_detail_info {
  margin: 13px 0 0;
  line-height: 21px;
}
