.productListWrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 50px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

.productListWrapper .productListHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.productListWrapper .productListHeader > p {
  font-size: 22px;
  font-weight: bold;
}

.productListWrapper .viewSortTabWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.productListWrapper .viewSortTabWrapper .productSortTab {
  padding: 2px 0;
}

.productListWrapper .viewSortTabWrapper .productSortTab ul {
  display: flex;
}

.productListWrapper .viewSortTabWrapper .sortTabFocus {
  font-weight: bold;
  color: #000;
}

.productListWrapper .viewSortTabWrapper .productSortTab li {
  font-size: 14px;
  padding: 0 12px;
  color: #888;
  border-right: 1px solid #888;
}

.productListWrapper .viewSortTabWrapper .productSortTab li:last-of-type {
  border-right: none;
}

.productListWrapper .viewSortTabWrapper .productViewTab {
  border: 1px solid #000;
}

.productListWrapper .viewSortTabWrapper .viewTabFocue {
  background-color: #6b90dc;
  color: #fff;
}

.productListWrapper .viewSortTabWrapper .productViewTab ul {
  display: flex;
}

.productListWrapper .viewSortTabWrapper .productViewTab button {
  padding: 0;
  border: 0;
  outline: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-right: 1px solid #000;
  cursor: pointer;
}

.productListWrapper .viewSortTabWrapper .productViewTab button:last-of-type {
  border-right: none;
}

.productListWrapper .listWrapper .viewListWrapper {
  margin-bottom: 50px;
}

.productListWrapper .listWrapper .listPagination {
  text-align: center;
}

.category_route {
  float: right;
  text-align: right;
}

.category_route ul {
  font-size: 0;
  line-height: 0;
  padding: 5px 0;
  box-sizing: border-box;
}

.category_route li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #000;
}

.route_text {
  color: #888;
  vertical-align: middle;
  font-size: 12px;
  line-height: 15px;
}

.route_text2 {
  color: #000;
  vertical-align: middle;
  font-size: 12px;
  line-height: 15px;
}

.arrow_mark {
  font-size: 12px;
  line-height: 15px;
  color: #888;
  vertical-align: middle;
  margin: 0 5px;
}
.pagination {
  margin: 50px 0;
  font-size: 0;
  text-align: center;
}

.pagination a {
  font-weight: 600;
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 35px;
  margin: 0 4px;
  font-size: 12px;
  vertical-align: top;
  text-align: center;
}

.page_focus {
  background-color: #6b90dc;
  color: #fff;
}

.page_unfocus {
  background-color: #fff;
  color: #000;
}
