.title{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

.header{
    position: relative;
    box-sizing: border-box;
    height: 168px;
    padding: 62px 0 0;
    text-align: center;
}

.container{
    width: auto;
    max-width: 768px;
}

.content{
    width: 460px;
    margin: 0 auto;
}

.checkAll{
    margin: 0;
    padding: 0;
    display: flex;
}

.checkAllInput{
    display: block;
    box-sizing: border-box;
}

.checkInput input{
    left: 1px;
    margin-top: 10px;
    width: 18px;
    height: 18px;
    outline: 0;
}

.checkAllText{
    text-decoration: underline;
    margin-left: 5px;
}

.checkAllBr{
    display: none;
}

.consentList{
    padding: 0;
    margin-top: 4px;
    list-style: none;
}

.consentList li{
    display: block;
    padding-top: 30px;
}

.consentInput{
    position: relative;
    box-sizing: border-box;
}

.consentInput input{
    position: absolute;
    width: 18px;
    height: 18px;
    outline: 0;
}

.consentText{
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #333;
    box-sizing: border-box;
    margin-left: 30px;
}

.consentNecessary{
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    color: #08a600;
}

.consentChoice{
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    color: #8e8e8e;
}

.consentBox{
    position: relative;
    overflow: auto;
    height: 88px;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #dadada;
    background: #fff;
    box-sizing: border-box;
}

.consentBtn{
    overflow: hidden;
    margin: 29px -5px 0;
}

.consentBtn span{
    display: block;
    float: left;
    width: 50%;
}

.consentBtnType{
    
    margin: 0 5px;
    color: #fff;
    display: block;
    width: 100%;
    padding: 21px 0 17px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

.cancelBtn{
    width: auto;
    background-color: #8e8e8e;
}

.confirmBtn{
    width: auto;
    background-color: #03c75a;
}

.warning{
    display: block;
    margin: 8px 0 -1px;
    font-size: 12px;
    line-height: 14px;
    color: red;
}